td{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
h1{
    justify-content: center;
}

#nonecontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;

}
#ntwocontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;
}
#nthreecontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;

}
#nfourcontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;
}
#nfivecontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;

}
#nsixcontainer{
    border-style: solid !important;
    border-radius: 25px !important;
    border-width: thin;
}
.card{
    object-fit: cover;
}